<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
    />
    <link rel="stylesheet" href="../../public/css/style.css" />
    <title>Wiessing Blog</title>
  </head>
  <body>
    <div class="">
      <header class="">
        <h1>
          <a href="/homepage">Homepage</a>
        </h1>
        <nav>

          <a href="/dashboard">Dashboard</a>
          |
          <a href="/login" class="" id="logout">Logout</a>

          <a href="/login">Login</a>

        </nav>
      </header>
      <main class="container">

        {{{body}}}
      </main>

    </div>

    <script src="/js/logout.js"></script>

  </body>
</html>