<div class="">
  <div class="">
    <h2>Welcome, to your blog</h2>
  </div>
</div>

<div class="">
  <div class="">
    <h3>Create a New Blog Post:</h3>

    <form class="form new-blog-form" id="blog-form">
      <div class="form-group">
        <label for="blog-title">blog name:</label>
        <input
          class="form-input"
          type="text"
          id="blog-title"
          name="blog-name"
        />
      </div>
      <div class="form-group">
        <label for="blog-text">content:</label>
        <textarea class="form-input" id="blog-text" name="blog-text"></textarea>
      </div>
      <div class="form-group">
        <button type="submit" class="btn btn-success">Create</button>
      </div>
    </form>
  </div>

  <div class="">
    <h3>ALL BLOGS:</h3>

    {{#each blogs as |blog|}}
      <div class="">
        <div class="">
          <h4><a href="/blog/{{blog.id}}">{{blog.title}}</a></h4>
        </div>
        <div class="">
          <button
            class="btn btn-sm btn-danger"
            data-id="{{blog.id}}"
          >DELETE</button>
        </div>
      </div>
    {{/each}}
  </div>

</div>

<script src="/js/dashboard.js"></script>